:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #efefef;
}

.header {
    height: 60px;
    background: #fff;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;

    .left {
        width: 180px;
        background: #333;
    }

    .center {
        flex: 1;
        padding: 10px;

        .form-row {
            background: #fff;
            padding: 5px;

            span {
                padding: 0 10px;
            }

            margin-bottom: 5px;
        }

        .console {
            background: #333;
            height: 100%;
            color: #efefef;
        }
    }
}

.footer {
    height: 44px;
    background: #fff;
}
