<!-- <div class="header"></div> -->
<div class="main">
  <div class="left">
    <ul>
      <li></li>
    </ul>
  </div>
  <div class="center">
    <div nz-row nzGutter="24" style="height: 100%;">
      <div nz-col nz-col nzSpan="8">
        <div class="form-row">
          <nz-radio-group [(ngModel)]="webpack.options.mode">
            <label nz-radio nzValue="development">development</label>
            <label nz-radio nzValue="production">production</label>
            <label nz-radio nzValue="none">none</label>
          </nz-radio-group>
        </div>
        <div class="form-row">
          <input type="text" nz-input [(ngModel)]="webpack.options.name" placeholder="请给应用起个好听的名字吧">
        </div>
        <div class="form-group">
          构建目标：
          <nz-select style="min-width: 8em;" [(ngModel)]="webpack.options.target" nzPlaceHolder="请选择目标平台" nzAllowClear>
            <nz-option *ngFor="let item of webpack.target.targets" [nzLabel]="item.title" [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </div>
        <div class="form-row">
          entry
          <a href="javascript:;" (click)="addEntry()">修改</a>
        </div>
        <div class="form-row">
          output
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          module
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          resolve
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          optimization
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          plugins
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          devServer
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          devTool
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          target
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          watch
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          watchOptions
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          externals
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          node
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          performance
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          stats
          <a href="javascript:;">修改</a>
        </div>
        <div class="form-row">
          <button nz-button nzType="primary" (click)="run()">运行</button>
          &nbsp;
          <button nz-button>保存</button>

          <button nz-button (click)="compiler()">compiler</button>

          <button nz-button (click)="connect()">connect</button>
          <button nz-button (click)="send()">send</button>

        </div>
      </div>
      <div nz-col nzSpan="16" style="height: 100%;">
        <textarea nz-input class="console"></textarea>
      </div>
    </div>
  </div>
</div>
<!-- <div class="footer"></div> -->
